* {
    margin: 0;
    padding: 0;
}
/*https://fineteklabs.com/fonts/MaterialIcons-Regular.0509ab09.woff2*/
body {
    position: relative;
    font-family: sans-serif;
  
    width: 100%;
}

.nav-wrapper {
    width: 100%;
    height: 64px;
    position: fixed;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    box-shadow: 3px 3px 5px #88888a;
    font-size: 20px;
    z-index: 10;
}

.nav-wrapper img {
    width: 69.19px;
    height: 50px;
    margin: auto 10px auto 10px;
}

.cont-wrapper {
    width: 100%;
    height: 650px;
    position: relative;
}

.mySlides {
    background: #283593;
    width: 100%;
    height: 650px;
    font-size: 60px;
    color: #fff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySlides p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    margin-left: auto;
}

.services {
    color: #009688;
    margin: auto;
    font-size: 32px;
    width:100%;
    height: 48px;
    display: flex;
    justify-content: center;
}

.details {
    color: #2196F3;
    font-size: 32px;
    margin: 0 auto;
}
#details p{
    margin: 0 auto;
}
#details{
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 justify-content: center;  
 padding: 20px;
}
.footer {
    width: 100%;
    font-size: 14px;
    background: #5c6bc0;
    color: #fff;
    display: flex;
    align-items: center;  
    flex-direction: column;
    margin: 0 auto;
}
.projects{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    padding: 15px 0;
}
.projects h1 {
    color: #F44336;
    font-size: 32px;  
    height: 48px;
    margin: 0 auto;
}

.projects p {
    font-size: 20px;
    color: #000000DE;
    height: 32px;
    margin:0 auto;
}
.clients{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
}
.clients h1 {
    font-size: 32px;
    color: #2196F3;
    margin:0 auto;
}

.clients p {
    font-size: 20px;
    margin:0 auto;
}

.blank {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
}
.blank div{
    margin:0 auto;
}
.blank img{
    object-fit: contain;
    width:100%;
    height: 180px;
}

.socials {
    height: 68px;
    padding: 16px;
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.socials a {
    color: #fff;
    text-decoration: none;
  
}

.socials i{
    margin: 20px;
    font-size: 24px;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width:100%;
    margin: 0 auto;
   gap: 10px;
}
.images div{
    border-radius: 5px;
}
.images img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: contain;
} 
.images p{
  display: flex;
  justify-content: center;
}
.last-part {
    width: 100%;
    height: 53.24px;
    background: #2196F3;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.1s ease;
    margin: 10px;
   
}

.doted{
   position: absolute;
   margin-top:-50px;
   justify-content: center;
   margin-left: auto;
    z-index: 1;  
    width:100%;
    height: 80px;
    visibility: visible;
   display: flex;
}
.active, .dot:hover {
    background-color: #717171;
}

.dots {
    width: 30px;
    height: 30px;
    background: #2196F3;
    border-radius: 50%;
    border: 3px solid #ffffff;
    margin: auto ;
    margin-top: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dots-1 {
    width: 30px;
    height: 30px;
    background: #2196F3;
    border-radius: 50%;
    border: 3px solid #ffffff;
    margin: auto ;
   
    margin-top: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySlides:first-child {
    background: #EF5356;
}

.mySlides:nth-child(2) {
    background: #FFA76A;
}

.mySlides:nth-child(3) {
    background: #283593;
}

.mySlides:nth-child(4) {
    background: #2196F3;
}

.mySlides:nth-child(5) {
    background: #000000DE;
}

.statements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding:0 40px;
    margin:0 auto;
}
.statements p{
    width: calc(100% - 50px);
}
#wrapper button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #EF5356;
    color: #fff;
    border: none;
    box-shadow: 2px 2px #88888a;
}

.mpty {
    width: 450px;
    height: 195px;
}

.vider {
    width: 46px;
    height: 195px;
}

#popup form {
    width: 600px;
    padding: 0 24px 20px;
}

#popup {
   width:600px;
    height:850px;
    visibility: hidden;
    z-index: 10;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: #fff;
   
}

#popup input{
    position: relative;
    border: none;
    border-bottom: 1px solid #717171;
    padding: 8px 0;
    width: 471px;
}
#popup input.bord{
border: none;
}
#popup i{
    color: #88888a;
}
.input-field{
padding:12px;
width: 528px;
height: 94px;
margin: 4px 0 0;
}
#popup label{
    position: absolute;
   margin-left:-460px;
  
}

#services.selected{
    color:#1976D2;
    margin-top:-20px;
    margin-left: -464px;
}
#services.error{
    color:red;
}
#comps.selected{
    color:#1976D2;
    margin-top:-20px;
    margin-left: -464px;
}
#popup h3{
    padding: 16px 24px 10px;
}


#popup button{
    background: #1976D2;
    color: #fff;
    border: none;
    margin: 12px 12px 12px 0;
    padding: 0 8px;
   border-radius: 5px;
    height: 28px;
    cursor: pointer;
}
#popup.active {
    position: fixed;
    z-index: 1;
    visibility: visible;
    transition: 0.8s;
    pointer-events: all;
}

.required {
    padding:0 12px;
    display: flex;
    justify-content: space-between;
}
.togle{
    display: flex;
    justify-content: space-between; 
    padding: 0 24px;
}

#responsive{
    width: 100;
}
#responsive.active {
    opacity: 0.25;
    pointer-events: none;
    user-select: none;
    transition: 0.1s;
}

.mini {
    height: 245px;
    width: 96px;
}

.invisible {
    height: 245px;
}
.descriptions div{
    margin: 0 auto;
    cursor: pointer;
}
.descriptions span {
    visibility: hidden;
}
.descriptions i{
    color: #757474;
}
#innovate {
    border-bottom: 1px solid #88888a;
    cursor: pointer;
    transition: 0.5s;
}

#beyond {
    border-top: 1px solid #88888a;
    transition: 0.5s;
}

#decisiveness {
    border-top: 1px solid #88888a;
    transition: 0.5s;
}

#innovate.open {
 height: 74px;
transition: 0.5s;
}

#sentence {
    visibility: hidden;
}

 #sentence {
    margin-top: 20px;
}

#experience.open{
    height: 74px;
    transition: 0.5s;
}
#decisiveness.open{
    height: 74px;
    transition: 0.5s;
}
#beyond.open{
    height: 74px;
    transition: 0.5s;
}
.descriptions button {
    width: 80px;
}
.descriptions{
    width:calc(100% - 10px);
    box-shadow:2px 2px 3px #919192;
    margin: 0 auto;
   
}
.descriptions div {
    padding: 16px 54px;
}
.descriptions p{
    font-weight: bold;
}


.fa-plus{
    color: #fff;
}
.prev {
    background: #757474;
    opacity: 0.5;
    color: #fff;
    position: absolute;
    z-index: 1;
    margin-top: -320px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
   visibility: hidden;
}

.next {
    background: #757474;
    opacity: 0.5;
    color: #fff;
    position: absolute;
    z-index: 1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: -320px;
    margin-left:95%;
   border: none;
   cursor: pointer;
  visibility: hidden;
}

.cont-wrapper:hover+.prev{
    visibility: visible;
}

.mySlides:hover+.next{
    visibility: visible;
}

.fa-caret-left {
    font-size: 30px;
    margin-top: 90px;
    position: absolute;
    margin-left: -10px;
}

.fa-caret-right {
    font-size: 30px;
    margin-top: 85px;
    position: absolute;
    margin-left: 595px;
}

.card .fa-caret-left {
    color: #42A5F5;
}

.card-10 .fa-caret-right {
    
    color: #000000;
}
.card-10 .fa-caret-left {
     display: none;
    color: #000000;
}
.card-20 .fa-caret-left {
    color: #FFA76A;
}

.card-30 .fa-caret-right {
   
    color: #66BB6A;
}
.card-30 .fa-caret-left {
 display: none;
    color: #66BB6A;
}
.card-40 .fa-caret-left {
    color: #EF5356;
}

.card-50 .fa-caret-right {
   
    color: #283593;
}
.card-50 .fa-caret-left {
    display: none;
    color: #283593;
}
.split{
 display: grid;
 grid-template-columns: repeat(2);
}
.dispaly{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wraps{
    margin: auto ;
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     padding: 20px 12px;
     margin-left: auto;
     color: #fff;
     
}
.wraps h1{
    padding: 16px;
}
.wraps p{
    padding: 12px;
}
.wraps  span{
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
}
.wraps span p{
    grid-column: 1/11;
} 
.wraps span h1 i{
    margin-right:10px ;
}
.wraps span .btn{
    grid-column: 11/12;
}
.wraps span button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: crimson;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}
.empty{
    grid-column:1/5;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 196px;
}
.border-line{
    grid-column:6/7;
    grid-row: 1;   
    height: 196px;
}
.card{
    grid-column:7/12;
    grid-row: 1;   
    background: #42A5F5;
   
    border-radius: 5px;
}

.empty-1{
    grid-column:7/12;
    grid-row: 2;
    height: 196px;
    
}
.border-line-1{
    grid-column:6/7;
    grid-row: 2;   
    height: 196px;
}
.card-10{
    grid-column:1/6;
    grid-row: 2;   
    background: #000000;
      border-radius: 5px;
}

.empty-2{
    grid-column:1/5;
    grid-row: 3;
    height: 196px;
    
}
.border-line-2{
    grid-column:6/7;
    grid-row: 3;   
    height: 196px;
}
.card-20{
    grid-column:7/12;
    grid-row: 3;   
    background: #FFA76A;
      border-radius: 10px;
}

.empty-3{
    grid-column:7/12;
    grid-row: 4;
    height: 196px;
   
}
.border-line-3{
    grid-column:6/7;
    grid-row: 4;   
    height: 196px;
}
.card-30{
    grid-column:1/6;
    grid-row: 4;   
    background: #66BB6A;
  
      border-radius: 5px;
}
.empty-4{
    grid-column:1/5;
    grid-row: 5; 
    height: 196px;
}
.border-line-4{
    grid-column:6/7;
    grid-row: 5;   
    height: 196px;
}
.card-40{
    grid-column:7/12;
    grid-row: 5;   
    background: #EF5356;
    
      border-radius: 5px;
}
.card-50{
    grid-column:1/6;
    grid-row: 6;   
    background: #283593;
  
      border-radius: 10px;
}
.border-line-5{
    grid-column: 6/7;
    grid-row:6 ;
    height: 196px;
}
.liner{
    position: absolute;
    z-index: -1;
    width: 1px;
    height:195px;
    background: black;
    margin-left:58px;
}



@media all and (max-width:950px){
    
.empty{
    display: none;
}
.empty-1{
    display: none;
}
.empty-2{
    display: none;
}
.empty-3{
    display: none;
}
.empty-4{
    display: none;
}
.border-line{
grid-column: 3/4;
grid-row: 1;
}
.border-line-1{
    grid-column: 3/4;
    grid-row: 2;
}
.border-line-2{
    grid-column: 3/4;
    grid-row: 3;
}
.border-line-3{
    grid-column: 3/4;
    grid-row: 4;
}
.border-line-4{
    grid-column: 3/4;
    grid-row: 5;
}
.border-line-5{
    grid-column: 3/4;
    grid-row: 6;
}
.card{
    grid-column: 4/12;
    grid-row: 1;
}
.card-10{
    grid-column: 4/12;
    grid-row: 2; 
    margin-top: 20px;
}
.card-20{
    grid-column: 4/12;
    margin-top: 20px;
}
.card-30{
    grid-column: 4/12;
    margin-top: 20px;
}
.card-40{
    grid-column: 4/12;
    margin-top: 20px;
}
.card-50{
    grid-column: 4/12;
    margin-top: 20px;
}
.wraps{
    grid-template-columns: repeat(12, 1fr);
}
.liner{
  margin-left: 28px;  
}
    #popup{
        left:40%;
        width: 500px;
        height:800px;
    }
    #popup input{
        width: 300px;
    }
    #popup .input-field{
        width:400px;
    }
    #popup label{
        margin-left: -280px;
    }
        
      .fa-caret-right{
            display:none;
            margin-left: 10px;
            visibility: hidden;
        } 
          .images{
              grid-template-columns: repeat(2, 1fr);
          }
          .blank{
            grid-template-columns: repeat(2, 1fr); 
          }
           

         }

         @media all and (max-width:800px) {
   
             .images {
                 grid-template-columns: repeat(1, 1fr);
             }
              
             .blank {
                 grid-template-columns: repeat(1, 1fr);
             }
           
         }

@media all and (max-width:411px){

  .fa-caret-right{
        display:none;
        margin-left: 10px;
        visibility: hidden;
    }
   
      .dot{
          margin-left: 30px;
      }
      .liner{
        margin-left: 18px;  
      }
     }
   



