* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: sans-serif;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.nav-wrapper {
    width: 100%;
    height: 64px;
    position: fixed;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    box-shadow: 3px 3px 5px #88888a;
    font-size: 20px;
    z-index: 1;
}

.nav-wrapper img {
    width: 69.19px;
    height: 50px;
    margin: auto 10px auto 10px;
}

.cont-wrapper {
    width: 100%;
    height: 650px;
    position: relative;
}

.mySlides {
    background: #283593;
    width: 100%;
    height: 650px;
    font-size: 60px;
    color: #fff;
    position: absolute;
}

.mySlides p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 250px;
}

.services {
    color: #009688;
    margin: auto;
    font-size: 32px;
    width: 854px;
    height: 48px;
    display: flex;
    justify-content: center;
}

.details {
    color: #2196F3;
    font-size: 32px;
  
    margin: 0 auto;
}
#details p{
    margin: 0 auto;
}
#details{
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 justify-content: center;  
 padding-top: 50px;
}
.footer {
    width: 100%;
    font-size: 14px;
    height: 200px;
    background: #5c6bc0;
    color: #fff;
    display: flex;
    align-items: center;
   
    flex-direction: column;
    margin: 0 auto;
}
.projects{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}
.projects h1 {
    color: #F44336;
    font-size: 32px;
    margin-top: 5px;
    height: 48px;
    margin: 0 auto;
}

.projects p {
    font-size: 20px;
    color: #000000DE;
    height: 32px;
    margin:0 auto;
}
.clients{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.clients h1 {
    font-size: 32px;
    color: #2196F3;
    margin:0 auto;
}

.clients p {
    font-size: 20px;
    margin:0 auto;
}

.blank {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
}
.blank div{
    margin:0 auto;
}
.blank img{
    object-fit: contain;
    width: 376px;
    height: 180px;
}


/*.blank div{
    animation-name: slidesup;
    animation-duration: 4s;
}

@keyframes sliesup{
    0%{top:0px; z-index:0;}
    25%{top:25%; z-index:1;}
}*/
.socials {
    height: 68px;
    padding: 16px;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.card {
    width: 588px;
    background: #F44336;
    color: #fff;
    border-radius: 4px;
    margin:0 auto;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width:100%;
    margin: 0 auto;
}

.last-part {
    width: 100%;
    height: 53.24px;
    background: #2196F3;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
}

.card-1 {
    background: #42A5F5;
    width: 632.5px;
    height: 195.7px;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
}

.card-1 h1 {
    font-size: 20px;
    padding: 16px;
    height: 44px;
}

.card-1 p {
    font-size: 14px;
    padding: 0 16px 16px;
    height: 55px;
}

.card-2 {
    background: #000000;
    width: 632.5px;
    height: 242.46px;
  
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
}

.card-2 h1 {
    font-size: 20px;
    padding: 16px;
    height: 44px;
}

.card-2 p {
    font-size: 14px;
    padding: 0 16px 16px;
    height: 55px;
}

.card-3 {
    background: #FFA76A;
    width: 632.5px;
    height: 218px;
   
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
}

.card-3 h1 {
    font-size: 20px;
    padding: 16px;
    height: 44px;
}

.card-3 p {
    font-size: 14px;
    padding: 0 16px 16px;
    height: 55px;
    width: 480px;
}

.card-4 {
    background: #66BB6A;
    width: 632.5px;
    height: 195.7px;
  
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
}

.card-4 h1 {
    font-size: 20px;
    padding: 16px;
    height: 44px;
    
}
.displays h1 i{
    margin-right: 10px;

}
.displays h1 {
    font-size: 30px;
}
.card-4 p {
    font-size: 14px;
    padding: 0 16px 16px;
    height: 55px;
}

.card-5 {
    background: #EF5356;
    width: 632.5px;
    height: 218.7px;
  
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
}

.card-5 h1 {
    font-size: 20px;
    padding: 16px;
    height: 44px;
}

.card-5 p {
    font-size: 14px;
    padding: 0 16px 16px;
    height: 55px;
}

.card-6 {
    background: #283593;
    width: 632.5px;
    height: 195.7px;
   
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
}

.card-6 h1 {
    font-size: 20px;
    padding: 16px;
    height: 44px;
}

.card-6 p {
    font-size: 14px;
    padding: 0 16px 16px;
    height: 55px;
}
.displays{
   
    margin: 0 auto;
}
#wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}


.images img {
    width: calc(100% -10px);
    height: 300px;
    margin:0 auto;
    border-radius: 5px;
}

.divider {
    width: calc(100% - 20%);
    height: 196px;
    margin: 0 auto;
    padding:0 50px;
}

.divider-2 {
    width: calc(100% - 20%);
}
.displays .divider:nth-child(odd) {
    margin-left: 710px;
  
}

.displays .divider:nth-child(even) {
    margin-right: 750px;
}
#card {
    width: 1150px;
    height: 195.7px;
    display: flex;
    flex-direction: row;
   
  
}

#card-2 {
    width: 1150px;
    height: 242.46px;
    display: flex;
    flex-direction: row;
 
}

#card-3 {
    width: 1150px;
    height: 218.71px;
    display: flex;
    flex-direction: row;
   
}

#card-4 {
    width: 1150px;
    height: 195.7px;
    display: flex;
    flex-direction: row;
  
}

#card-5 {
    width: 1150px;
    height: 218.71px;
    display: flex;
    flex-direction: row;
  
}

#card-6 {
    width: 1150px;
    height: 195.71px;
    display: flex;
    flex-direction: row;
   
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    position: absolute;
    top:620px;
    margin: 0 auto;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}

.divider {
    position: relative;
}

.dots {
    width: 30px;
    height: 30px;
    background: #2196F3;
    border-radius: 50%;
    border: 3px solid #ffffff;
    position: absolute;
    top: 45%;
    margin-left: -68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dots-1 {
    width: 30px;
    height: 30px;
    background: #2196F3;
    border-radius: 50%;
    border: 3px solid #ffffff;
    position: absolute;
    margin-top: -58px;
    margin-left: 695px;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.mySlides:first-child {
    background: #EF5356;
}

.mySlides:nth-child(2) {
    background: #FFA76A;
}

.mySlides:nth-child(3) {
    background: #283593;
}

.mySlides:nth-child(4) {
    background: #2196F3;
}

.mySlides:nth-child(5) {
    background: #000000DE;
}

.statements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding:0 30px;
    margin:0 auto;
}
.statements div{
    width: calc(100% - 20px);
}
#wrapper button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #EF5356;
    color: #fff;
    border: none;
    box-shadow: 2px 2px #88888a;
}



.mpty {
    width: 450px;
    height: 195px;
}

.vider {
    width: 46px;
    height: 195px;
}

#popup form {
    width: 600px;
    padding: 0 24px 20px;
}

#popup {
   width:28vw;
    height:75vh;
    visibility: hidden;
    z-index: 10;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: #fff;
   
}

#popup input{
    position: relative;
    border: none;
    border-bottom: 1px solid #717171;
    padding: 8px 0;
    width: 471px;
}
#popup input.bord{
border: none;
}
#popup i{
    color: #88888a;
}
.input-field{
padding:12px;
width: 528px;
height: 94px;
margin: 4px 0 0;
}
#popup label{
    position: absolute;
   margin-left:-460px;
  
}

#services.selected{
    color:#1976D2;
    margin-top:-20px;
    margin-left: -464px;
}
#services.error{
    color:red;
}
#comps.selected{
    color:#1976D2;
    margin-top:-20px;
    margin-left: -464px;
}
#popup h3{
    padding: 16px 24px 10px;
}


#popup button{
    background: #1976D2;
    color: #fff;
    border: none;
    margin: 12px 12px 12px 0;
    padding: 0 8px;
   border-radius: 5px;
    height: 28px;
    cursor: pointer;
}


#popup.active {
    position: fixed;
    z-index: 1;
    visibility: visible;
    transition: 0.8s;
    pointer-events: all;
}

.required {
    padding:0 12px;
    display: flex;
    justify-content: space-between;
}


.togle{
    display: flex;
    justify-content: space-between; 
    padding: 0 24px;
}

#responsive{
    width: 100;
}
#responsive.active {
    opacity: 0.25;
    pointer-events: none;
    user-select: none;
    transition: 0.1s;
}

.mini {
    height: 245px;
    width: 96px;
}

.invisible {
    height: 245px;
}
.descriptions div{
    margin: 0 auto;
    cursor: pointer;
}
.descriptions span {
    visibility: hidden;
}

#innovate {
    border-bottom: 1px solid #88888a;
    cursor: pointer;
    transition: 0.5s;
}

#beyond {
    border-top: 1px solid #88888a;
    transition: 0.5s;
}

#decisiveness {
    border-top: 1px solid #88888a;
    transition: 0.5s;
}

#innovate.open {
    height: 74px;
transition: 0.5s;
}

#sentence {
    visibility: hidden;
}

 #sentence {
    margin-top: 20px;
}

#experience.open{
    height: 74px;
    transition: 0.5s;
}
#decisiveness.open{
    height: 74px;
    transition: 0.5s;
}
#beyond.open{
    height: 74px;
    transition: 0.5s;
}
.descriptions button {
    width: 80px;
}


.descriptions{
    width:calc(100% - 10px);
    box-shadow:2px 2px 3px #919192;
    margin: 0 auto;
   
}
.descriptions div {

    padding: 16px 54px;
}
.descriptions p{
    font-weight: bold;
}


.divider {
    width: 710px;
    border-left: 1px solid grey;
    z-index: 0;
}

.divider-2 {
    width: 710px;
    border-right: 1px solid grey;
    z-index: 0;
}

.btn{
    border-radius: 50%;
    background: crimson;
    width: 30px;
    height:30px;
    border: none;
    margin-left: 550px;
    cursor: pointer;
}
.fa-plus{
    color: #fff;
}
.prev {
    background: #000000;
    color: #fff;
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 280px;
    margin-left: 20px;
    visibility: hidden;
}

.next {
    background: #000000;
    color: #fff;
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -265px;
    margin-left: 95%;
    visibility: hidden;
}

.cont-wrapper p:hover+.prev {
    visibility: visible;
}

.cont-wrapper .mySlides:hover+.next {
    visibility: visible;
}

.fa-caret-left {
    font-size: 30px;
    margin-top: 90px;
    position: absolute;
    margin-left: -10px;
}

.fa-caret-right {
    font-size: 30px;
    margin-top: 85px;
    position: absolute;
    margin-left: 630px;
}

.card-1 .fa-caret-left {
    color: #42A5F5;
}

.card-2 .fa-caret-right {
    color: #000000;
}

.card-3 .fa-caret-left {
    color: #FFA76A;
}

.card-4 .fa-caret-right {
    color: #66BB6A;
}

.card-5 .fa-caret-left {
    color: #EF5356;
}

.card-6 .fa-caret-right {
    color: #283593;
}













@media all and (max-width:800px) {
   
   body{
       width: 200vw;
       
   }
    .images {
        grid-template-columns: repeat(1, 1fr);
    
    }
    .services {
        margin-left: -180px;
    }
    .blank {
        grid-template-columns: repeat(1, 1fr);
    }
   /* .displays .card-1, .card-3, .card-5:nth-child(odd) {
        margin-left:50px;
        margin-bottom: 5px;
    }
    .displays .card-2, .card-4, .card-6:nth-child(even) {
        margin-left: 50px;
        margin-bottom: 5px;
    }*/
    .divider {
        width: 710px;
        border-left: 1px solid grey;
    }
    .divider-2 {
        width: 710px;
        border-left: 1px solid grey;
    }

    
}